<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title | default: site.title | remove: '`' }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/main.css?' | append: site.github.build_revision | relative_url }}">
    {% feed_meta %}
</head>
<body>
    {% if page.url != '/'
        %}<a class="Up" href=".." title="go up"><svg viewBox="0 0 54 54"><path d="M 43,35 31,23 31,47 23,47 23,23 11,35 11,23 27,7 43,23 Z"/></svg></a>{%
    endif %}
    <main>{{
        content | replace: '<code class="highlighter-rouge">', '<code>'
    }}</main>
    <footer>© 2016-2017 Jos Hirth – <a href="/imprint">Imprint</a></footer>
</body>
</html>